body{
    background-image: url('calculator_bg.jpeg');
    width:100vw;
    height:100vh;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    background-color: rgb(255, 255, 255, 0.3);
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
    border: 3px solid rgb(212, 154, 250);
    padding: 20px;
}
#display{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    border-radius: 10px;
    border:3px solid rgb(212, 154, 250);
}
#keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;  
}
button{
    background-color: rgba(238, 233, 192, 0.5);
    padding: 10px;
    border-radius: 50px;
    border:0;
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    cursor: pointer;
}
.operator-btn{
    background-color: rgb(245, 123, 123, 0.3);
}
.comand-btn{
    background-color: rgba(119, 134, 207, 0.3);
}
.equal-btn{
    width:200%;
    background-color: rgba(15, 223, 223, 0.692);
}
button:hover{
    background-color: rgba(106, 106, 106, 0.3);
}
button:active{
    background-color: rgba(238, 233, 192, 0.882);
}
.operator-btn:hover{
    background-color: rgba(106, 106, 106, 0.3);
}
.operator-btn:active{
    background-color: rgba(255, 176, 218, 0.882);
}
.comand-btn:hover{
    background-color: rgba(96, 96, 96, 0.3);
}
.comand-btn:active{
    background-color: rgba(165, 175, 225, 0.882);
}
.equal-btn:hover{
    background-color: rgba(96, 96, 96, 0.3);
}
.equal-btn:active{
    background-color: rgb(0, 255, 255);
}